<%= form_for(@station) do |f| %>
  <% if @station.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@station.errors.count, "error") %> prohibited this station from being saved:</h2>

      <ul>
      <% @station.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-3">
      <div class="field">
        <%= f.label :station_code %><br>
        <%= f.text_field :station_code %>
      </div>
      <div class="field">
        <%= f.label :omm_code %><br>
        <%= f.text_field :omm_code %>
      </div>
      <div class="field">
        <%= f.label :opening %><br>
        <%= f.date_select :opening %>
      </div>
      <div class="field">
        <%= f.label :latitude %><br>
        <%= f.text_field :latitude %>
      </div>
      </div>
      <div class="col-md-3">
        <div class="field">
          <%= f.label :longitude %><br>
          <%= f.text_field :longitude %>
        </div>
        <div class="field">
          <%= f.label :city %><br>
          <%= f.text_field :city %>
        </div>
        <div class="field">
          <%= f.label :state %><br>
          <%= f.text_field :state %>
        </div>
      </div>
    </div>
    <br />
    <div class="actions">
      <%= f.submit "Salvar Estação", class: "btn btn-primary" %>
    </div>
<% end %>
