<h1>Estações</h1>

<div class="media">
  <div class="media-body">
    <table class="table table-header">
      <th>Código da estação</th>
      <th>Código OMM</th>
      <th>Cidade</th>
      <th>Estado</th>
      <th colspan="3" class="col-md-2"></th>
    </tr>
  </thead>

  <tbody>
    <% @stations.each do |station| %>
      <tr>
        <td><%= station.station_code %></td>
        <td><%= station.omm_code %></td>
        <td><%= station.city %></td>
        <td><%= station.state %></td>
        <td><%= link_to 'Ver', station, class: 'btn btn-xs btn-primary' %></td>
        <td><%= link_to 'Editar', edit_station_path(station), class: 'btn btn-xs btn-success' %></td>
        <td><%= link_to 'Excluir', station, method: :delete, data: { confirm: 'Tem certeza?' },  class: 'btn btn-xs btn-warning' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Estação', new_station_path %>
