<h2> Estação <%= @station.city %></h2>
<br />
<br />

<script type="text/javascript" charset="utf-8">
$(function () {
    $('#temp_chart').highcharts({
        chart: {
            type: 'line'
        },
        title: {
            text: 'Média de temperatura - ultimas 12 leituras'
        },
        xAxis: {
            categories: [
                <% @station.logs.last(12).each do |log| %>
                <% t = log.datetime %>
                '<%= t.strftime("%m/%d") %> <br /><%= t.strftime("%I:%M %p") %>',
                <% end %>
              ]
        },
        yAxis: {
            title: {
                text: 'Temperatura (°C)'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: [{
            name: '<%= @station.city %>',
            data: [
                <% @station.logs.last(12).each do |log| %>
                <%= log.inst_temperature %>,
                <% end %>
              ]
        }]
    });
});
</script>


<div class="col-md-3">
  <p>
    <strong>Station code:</strong>
    <%= @station.station_code %>
  </p>

  <p>
    <strong>Omm code:</strong>
    <%= @station.omm_code %>
  </p>

  <p>
    <strong>Opening:</strong>
    <%= @station.opening %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= @station.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= @station.longitude %>
  </p>

  <p>
    <strong>City:</strong>
    <%= @station.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= @station.state %>
  </p>
  <p>
  <%= link_to 'Editar Estação', edit_station_path(@station) %> 
  <Br />
  <%= link_to 'Relatório PDF', station_path(@station, format: "pdf"), target: "_blank" %> 

  </p>
</div>

<% if @station.logs.size > 0 %>
  <div class="col-md-9">
    <div id="temp_chart" style="height: 300px"></div>
    <br />
  </div>

  <br />
  <br />
  <br />
  <%= render "logs/table" %>
<% end %>

<span class="right">
  <%= link_to 'Nova leitura', new_station_log_path(@station) %> |
  <%= link_to 'Voltar', stations_path %>
</span>