<h1>Gráficos</h1>
<br />

<% @stations = Station.all %>

<script type="text/javascript" charset="utf-8">
$(function () {
    $('#temp_chart').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Ultimo registro de Temperatura Instantânea'
        },
        xAxis: {
            categories: [
                <% @stations.each do |station| %>
                  <% if station.logs.size > 0 %>
                    '<%= station.city %>',
                  <% end %>
                <% end %>
              ]
        },
        yAxis: {
            title: {
                text: 'Temperatura (°C)'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: [{
            name: 'Cidade',
            data: [
                <% @stations.each do |station| %>
                  <% if station.logs.size > 0 %>
                    <% station.logs.sort_by{|t| - t.datetime.to_i}.first(1).each do |log| %>
                      <%= log.inst_temperature %>,
                    <% end %>
                  <% end %>
                <% end %>
              ]
        }]
    });
});

$(function () {
    $('#precipitation_chart').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Ultimo registro de Precipitação'
        },
        xAxis: {
            categories: [
                <% @stations.each do |station| %>
                  <% if station.logs.size > 0 %>
                    '<%= station.city %>',
                  <% end %>
                <% end %>
              ]
        },
        yAxis: {
            title: {
                text: 'Precipitação (%)'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: [{
            name: 'Cidade',
            data: [
                <% @stations.each do |station| %>
                  <% if station.logs.size > 0 %>
                    <% station.logs.sort_by{|t| - t.datetime.to_i}.first(1).each do |log| %>
                      <%= log.precipitation %>,
                    <% end %>
                  <% end %>
                <% end %>
              ]
        }]
    });
});
</script>

<div class="col-md-6">
<div id="temp_chart" style="height: 300px"></div>
</div>
<div class="col-md-6">
<div id="precipitation_chart" style="height: 300px"></div>
</div>
