<h1>I Trabalho de Tópicos Avançados</h1>
<br/>
<p>
Dados do Instituto Nacional de Meteorologia - www.inmet.gov.br
</p>
<p>


Estação Meteorológica de Observação de Superfície Automática
<br />
Uma estação meteorológica de superfície automática é composta de uma unidade de memória central ("data logger"), ligada a vários sensores dos parâmetros meteorológicos (pressão atmosférica, temperatura e umidade relativa do ar, precipitação, radiação solar, direção e velocidade do vento, etc), que integra os valores observados minuto a minuto e os disponibiliza automaticamente a cada hora.

</p>

<div class="media">
  <div class="media-body">
    <table class="table table-header">
      <thead>
        <tr>
          <th>Dados obtidos de Estações</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Código da Estação no Cadastro do INMET</td>
        </tr>
        <tr>
          <td>Código da Estação no Cadastro da OMM</td>
        </tr>
        <tr>
          <td>Data de Abertura</td>
        </tr>
        <tr>
          <td>Latitude</td>
        </tr>
        <tr>
          <td>Longitue</td>
        </tr>
        <tr>
          <td>Cidade</td>
        </tr>
        <tr>
          <td>Estado</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<div class="media">
  <div class="media-body">
    <table class="table table-header">
      <thead>
        <tr>
          <th>Dados obtidos de Leituras</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Data e Hora</td>
        </tr>
        <tr>
          <td>Temperatura no Instante</td>
        </tr>
        <tr>
          <td>Temperatura Máxima</td>
        </tr>
        <tr>
          <td>Temperatura Mínima</td>
        </tr>
        <tr>
          <td>Umidade no Instante</td>
        </tr>
        <tr>
          <td>Umidade Máxima</td>
        </tr>
        <tr>
          <td>Umidade Mínima</td>
        </tr>
        <tr>
          <td>Orvalho no Instante</td>
        </tr>
        <tr>
          <td>Orvalho Máximo</td>
        </tr>
        <tr>
          <td>Orvalho Mínimo</td>
        </tr>
        <tr>
          <td>Pressão no Instante</td>
        </tr>
        <tr>
          <td>Pressão Máxima</td>
        </tr>
        <tr>
          <td>Pressão Mínima</td>
        </tr>
        <tr>
          <td>Direção do Vento</td>
        </tr>
        <tr>
          <td>Velocidade do Vento</td>
        </tr>
        <tr>
          <td>Rajada de Vento</td>
        </tr>
        <tr>
          <td>Radiação Solar</td>
        </tr>
        <tr>
          <td>Precipitação</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>