<h1>Relatórios</h1>
<br />
<h3>Relatórios Gerais</h3>
<% @stations = Station.all %>
<div class="media">
  <div class="media-body">
    <table class="table table-header">
      <thead>
        <tr>
          <th>Tipo</th>
          <th class="col-md-1"></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Todas Estações</td>
          <td><%= link_to 'Gerar', welcome_reports_path(@stations, format: "pdf"), class: 'btn btn-primary', target: '_blank' %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<br />
<h3>Relatórios por Estação</h3>
<div class="media">
  <div class="media-body">
    <table class="table table-header">
      <thead>
        <tr>
          <th class="col-md-1">Código</th>
          <th>Estação</th>
          <th class="col-md-1"></th>
        </tr>
      </thead>

      <tbody>
        <% @stations.each do |station| %>
          <tr>
            <td><%= station.station_code %></td>
            <td><%= station.city %></td>
            <td><%= link_to 'Gerar', station_path(station, format: "pdf"), class: 'btn btn-primary', target: '_blank' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>