<%= form_for [@station, Log.new] do |f| %>
  <% if @station.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@station.errors.count, "error") %> prohibited this log from being saved:</h2>

      <ul>
      <% @station.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br />
  <div class="field">
    <%= f.label "Dia e Hora" %><br>
    <%= f.datetime_select :datetime %>
  </div>
  <br />
  <br />

  <div class="row">
    <div class="col-md-3">
      <div class="field">
        <%= f.label "Temperatura no Instante" %><br>
        <%= f.text_field :inst_temperature %>
      </div>
      <div class="field">
        <%= f.label "Temperatura Máxima" %><br>
        <%= f.text_field :max_temperature %>
      </div>
      <div class="field">
        <%= f.label "Temperatura Mínima" %><br>
        <%= f.text_field :min_temperature %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <%= f.label "Umidade no Instante" %><br>
        <%= f.text_field :inst_humidity %>
      </div>
      <div class="field">
        <%= f.label "Umidade Máxima" %><br>
        <%= f.text_field :max_humidity %>
      </div>
      <div class="field">
        <%= f.label "Umidade Mínima" %><br>
        <%= f.text_field :min_temperature %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <%= f.label "Orvalho no Instante" %><br>
        <%= f.text_field :inst_dew %>
      </div>
      <div class="field">
        <%= f.label "Orvalho Máximo" %><br>
        <%= f.text_field :max_dew %>
      </div>
      <div class="field">
        <%= f.label "Orvalho Mínimo" %><br>
        <%= f.text_field :min_dew %>
      </div>
    </div>


    <div class="col-md-3">
      <div class="field">
        <%= f.label "Pressão Máxima" %><br>
        <%= f.text_field :max_pressure %>
      </div>
      <div class="field">
        <%= f.label "Pressão Mínima<" %><br>
        <%= f.text_field :min_pressure %>
      </div>
      <div class="field">
        <%= f.label "Pressão no Instante" %><br>
        <%= f.text_field :inst_pressure %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <%= f.label "Direção do Vento" %><br>
        <%= f.text_field :wind_direction %>
      </div>
      <div class="field">
        <%= f.label "Velocidade do Vento" %><br>
        <%= f.text_field :wind_speed %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <%= f.label "Rajada de Vento" %><br>
        <%= f.text_field :wind_gust %>
      </div>
      <div class="field">
        <%= f.label "Radiação Solar" %><br>
        <%= f.text_field :radiation %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <%= f.label "Precipitação" %><br>
        <%= f.text_field :precipitation %>
      </div>
    </div>
  </div>
<br />
  <div class="actions">
    <%= f.submit "Salvar Leitura", class: "btn btn-primary" %>
  </div>
<% end %>