<h4>Leituras <%= link_to 'Nova leitura', new_station_log_path(@station), style: 'font-size:13px;' %> </h4>

<div class="media">
  <div class="media-body">
    <table class="table table-header">
      <thead>
        <tr>
          <th>Data e Hora</th>
          <th colspan="3" class="col-md-1"></th>
        </tr>
      </thead>

      <tbody>
        <% @station.logs.each do |log| %>
          <% t = log.datetime %>
          <tr>
            <td>Dia <%= t.strftime("%m/%d") %> - <%= t.strftime("%I:%M%p") %></td>
            <td><%= link_to 'Show', station_log_path(@station,log), class: 'btn btn-xs btn-primary' %></td>
            <td><%= link_to 'Editar', edit_station_log_path(@station,log), class: 'btn btn-xs btn-primary' %></td>
            <td><%= link_to "Delete", station_log_path(@station,log), method: :delete, data:{comfirm: 'Tem certeza?'}, class: 'btn btn-xs btn-warning'%>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>