<h1>Listing Logs</h1>

<table>
  <thead>
    <tr>
      <th>Datetime</th>
      <th>Inst temperature</th>
      <th>Max temperature</th>
      <th>Min temperature</th>
      <th>Inst humidity</th>
      <th>Max humidity</th>
      <th>Min temperature</th>
      <th>Inst dew</th>
      <th>Max dew</th>
      <th>Min dew</th>
      <th>Max pressure</th>
      <th>Min pressure</th>
      <th>Inst pressure</th>
      <th>Wind direction</th>
      <th>Wind speed</th>
      <th>Wind gust</th>
      <th>Radiation</th>
      <th>Precipitation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @station.logs.each do |log| %>
      <tr>
        <td><%= log.datetime %></td>
        <td><%= log.inst_temperature %></td>
        <td><%= log.max_temperature %></td>
        <td><%= log.min_temperature %></td>
        <td><%= log.inst_humidity %></td>
        <td><%= log.max_humidity %></td>
        <td><%= log.min_temperature %></td>
        <td><%= log.inst_dew %></td>
        <td><%= log.max_dew %></td>
        <td><%= log.min_dew %></td>
        <td><%= log.max_pressure %></td>
        <td><%= log.min_pressure %></td>
        <td><%= log.inst_pressure %></td>
        <td><%= log.wind_direction %></td>
        <td><%= log.wind_speed %></td>
        <td><%= log.wind_gust %></td>
        <td><%= log.radiation %></td>
        <td><%= log.precipitation %></td>
        <td><%= link_to 'Show', station_logs_path(log) %></td>
        <td><%= link_to 'Destroy', station_logs_path(log), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
