<% @station = Station.find(params[:station_id]) %>
<% @log = @station.logs.find(params[:id]) %>

<p>
  <strong>Inst temperature:</strong>
  <%= @log.inst_temperature %>
</p>

<p>
  <strong>Max temperature:</strong>
  <%= @log.max_temperature %>
</p>

<p>
  <strong>Min temperature:</strong>
  <%= @log.min_temperature %>
</p>

<p>
  <strong>Inst humidity:</strong>
  <%= @log.inst_humidity %>
</p>

<p>
  <strong>Max humidity:</strong>
  <%= @log.max_humidity %>
</p>

<p>
  <strong>Min temperature:</strong>
  <%= @log.min_temperature %>
</p>

<p>
  <strong>Inst dew:</strong>
  <%= @log.inst_dew %>
</p>

<p>
  <strong>Max dew:</strong>
  <%= @log.max_dew %>
</p>

<p>
  <strong>Min dew:</strong>
  <%= @log.min_dew %>
</p>

<p>
  <strong>Max pressure:</strong>
  <%= @log.max_pressure %>
</p>

<p>
  <strong>Min pressure:</strong>
  <%= @log.min_pressure %>
</p>

<p>
  <strong>Inst pressure:</strong>
  <%= @log.inst_pressure %>
</p>

<p>
  <strong>Wind direction:</strong>
  <%= @log.wind_direction %>
</p>

<p>
  <strong>Wind speed:</strong>
  <%= @log.wind_speed %>
</p>

<p>
  <strong>Wind gust:</strong>
  <%= @log.wind_gust %>
</p>

<p>
  <strong>Radiation:</strong>
  <%= @log.radiation %>
</p>

<p>
  <strong>Precipitation:</strong>
  <%= @log.precipitation %>
</p>


<%= link_to 'Edit', edit_station_log_path(@station,@log) %> |
<%= link_to 'Back', @station %>
