<!DOCTYPE html>
<html>
<head>
  <title>Inmet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <nav class="nav nav-tabs">
    <li><%= link_to "Início", welcome_index_path %></li>
    <li><%= link_to "Gráficos", welcome_charts_path %></li>
    <li><%= link_to "Relatórios", welcome_reports_path %></li>
    <li><%= link_to "Estações", stations_path %></li>
  </nav>
  <br />
  <br />
  
  <p id="notice"><%= notice %></p>
  <%= yield %>

  </div>
</body>
</html>
